* {
    box-sizing: border-box;
  }

main {
    display: flex;
    width: 100%;
    /* margin-top: 167px; */
    background: #363636;
    /* Assortir au fond du site */
    font-family: var(--font-fam);
}

.hidden {
    display: none;
}

.sidebar {
    width: 20%;
    background-color: #1e1d1d;
    /* Fond de la sidebar assorti au menu principal */
    color: #fff;
    /* Texte en blanc pour le contraste */
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 150px;
    border: 1px solid #77FFB3;
    /* Accent de couleur */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    /* Ajouter un effet de profondeur */
    min-height: 78vh;
}

.user-info {
    text-align: center;
    margin-bottom: 5px;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #77FFB3;
    /* Accent de couleur */
}

.sidebar a {
    color: #C3FEAD;
    /* Utilisation des tons du dégradé principal */
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

.sidebar a:hover,
.sidebar a.active {
    background: linear-gradient(to right, #C3FEAD, #90FFA3);
    color: #000;
    /* Contraste inversé */
}

.content {
    width: 80%;
    padding: 5vw;
    background-color: #363636;
    /* Assortir au menu principal */
    color: #fff;
    /* Texte clair pour le contraste */
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    /* Légère ombre intérieure */
}

.content h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.content h4 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-section {
    display: none;
    /* Masqué par défaut */
}

.form-section.active {
    display: block;
}

.form-section input,
.form-section button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #77FFB3;
    /* Accent de couleur */
    border-radius: 5px;
    background: #363636;
    /* Assortir au fond principal */
    color: #fff;
    /* Texte clair */
}

.form-section button {
    background: linear-gradient(to left,
            #C3FEAD 16%,
            #ADFF9D 32%,
            #90FFA3 48%,
            #77FFB3 64%);
    color: #000;
    /* Texte sombre */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.form-section button:hover {
    background: linear-gradient(to left,
            #C3FEAD 16%,
            #ADFF9D 32%,
            #90FFA3 48%,
            #77FFB3 64%);
}

.danger-zone button {
    background-color: #e74c3c;
    /* Rouge d'alerte */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.danger-zone button:hover {
    background-color: #c0392b;
    /* Assombrir au hover */
}

/* Boîte contenant chaque section */
.form-section .view-mode,
.form-section .edit-mode {
    background-color: #1e1d1d;
    /* Couleur similaire à celle de la sidebar */
    border-radius: 22px;
    /* Bords arrondis */
    padding: 20px;
    /* Espacement interne pour aérer */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ombre subtile */
    margin-bottom: 20px;
    /* Espacement entre les boîtes */
}

/* Style pour le titre dans les boîtes */
.form-section .view-mode h2,
.form-section .edit-mode h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffffff;
    /* Couleur du texte */
}

/* Alignement des boutons Modifier */
.form-section .view-mode button,
.form-section .edit-mode button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    /* Bords arrondis des boutons */
    color: #000;
    /* Texte sombre pour contraste */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Espacement entre chaque donnée */
.form-section .view-mode p,
.form-section .edit-mode label {
    margin: 10px 0;
    font-size: 1em;
}

/* Espacement et alignement des champs de formulaire */
.form-section .edit-mode input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #77FFB3;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: static;
        border: none;
        box-shadow: none;
        min-height: auto;
    }

    .content {
        width: 100%;
        padding: 5vw 10px;
    }
  }
  

  /* Grid */
.infoMessage {
    width: 65%;
    float: left;
    margin-left: 7%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    /* background-color: red; */
  }
  
  .grid-container {
    width: 100%;
    float: left;
    /* margin-left: 1%; */
    display: grid;
    gap: 10px;
    padding: 10px;
    column-count: 4;
    grid-auto-columns: 1fr;
  }
  
  .grid-item {
    background-color: #282828;
    color: white;
    width: 100%;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
  }
  
  .item1 {
    grid-column: 1;
  }
  
  .item2 {
    grid-column: 2;
  }
  
  .item3 {
    grid-column: 3;
  }

  .item4 {
    grid-column: 4;
  }
  
  div.grid-item.empty {
    background-color: #00000000;
    width: 100%;
  }
  
  /* Product */
  /* .product {
    margin-top: auto;
  } */
  
  a.product.image {
    width: 100%;
    margin: 3%;
    margin-bottom: 0px;
    position: relative;
  }
  
  img.product {
    border-radius: 20px;
    padding: 15px;
    width: 94%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #59ec91;
  }
  
  span.product.badge {
    position: absolute;
    transform: translate(-50%, -50%); /* places the span in the top-right*/
    top: 18px;
    right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    background-color: #26fefe;
    border-radius: 50%;
    font-size: 1.4rem;
    padding-left: 9px;
    padding-right: 11px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  div.product.name {
    font-size: 1.3rem;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  div.product.components {
    font-size: 1rem;
    font-weight: normal;
    color: #aaa;
    width: 100%;
    margin-bottom: 4%;
  }
  
  div.product.category {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 6%;
    margin-top: auto;
  }
  
  div.product.price {
    font-size: 1.6rem;
    /* font-weight: bold; */
    margin-bottom: 5%;
  }
  
  div.product.normal-price {
    text-decoration: line-through;
    color: #ff4d4f;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  div.product.promotion {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5%;
    background: var(--color-brand);
    background-clip: text;
    color: transparent;
  }
  
  button.product.btnPanier {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.6rem 0;
    background: var(--color-brand);
    border-radius: 45px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
  }

  form.product.form {
    width: 90%;
  }
  
  /* Petites animations */
  
  .grid-item:hover:not(div.grid-item.empty) {
    box-shadow: 0px 0px 15px rgba(4, 4, 4, 0.3);
  }
  
  button.product.btnPanier:hover,
  button.selection.affiner:hover {
    box-shadow: 0px 0px 5px #62ffca;
  }

  /* Responsive */

@media screen and (max-width: 1200px) {
    /* A 1200px, n'affiche plus que 3 produits par ligne */
    .item4 {
      grid-column: 1;
    }
  
    button.selection.affiner {
      font-size: 1rem;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 950px) {
    /* A 950px, la selection disparait et le bouton "affiner" apparait */
    div.selection:not(div.selection.small) {
      display: none;
    }
  
    div.selection.small.button {
      display: inline-block;
    }
  
    button.selection.affiner {
      font-size: 1.4rem;
      width: 50%;
    }
  
    .infoMessage {
      width: 90%;
      margin-top: 20px;
    }
  
    .grid-container {
      width: 100%;
      margin-left: 0;
    }
  
    div.sorting {
      margin-right: 2%;
    }
  
    option.sorting {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    /* A 650px, n'affiche plus que 2 produit par ligne */
    .item3 {
      grid-column: 1;
    }

    .item4 {
      grid-column: 2;
    }
  
    div.sorting {
      margin-right: 3%;
    }
  
    select.sorting {
      padding-right: 1em;
    }
  }
  
  @media screen and (max-width: 330px) {
    div.selection.small {
      margin-left: 3%;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.65em;
      padding-bottom: 0.6em;
      border-radius: 5px;
    }
  }