/* /////////////////////////////////////////////////////// */
/* Partie Search Bar */
/* /////////////////////////////////////////////////////// */

.search-form {
    position: relative;
    width: 40vw;
    background: var(--color-dark);
    border-radius: var(--rad);
    text-align: left;
  }
  
  .search-bar,
  .search-button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.7rem;
  }
  
  .search-bar {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    display: block;
    cursor: pointer;
  }
  
  .search-button img {
    margin: 0.37rem;
    margin-right: 0.5rem;
  }
  
  .button-panier {
    position: absolute;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background: var(--color-brand);
    border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
    display: inline-block;
  }
  
  .text-panier {
    font-weight: bold;
    color: #000000;
    font-size: 0.8vw;
    text-align: center;
  }
  
  @media (max-width: 900px) {
    .text-panier {
      font-size: 0.6rem;
    }
  }
  
  .search-bar:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  
    + button {
      display: block;
    }
  }
  
  .search-bar-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  /* Réorganisation de la disposition en fonction de la taille d'écran */
  @media (max-width: 900px) {
    .header-top {
      flex-wrap: wrap;
    }
  
    .search-form {
      display: block;
      /* Réaffiche la barre de recherche */
      width: 100%;
      /* Prend toute la largeur */
      margin: 15px;
      /* Ajoute un peu d'espace */
      order: 2;
      /* Assure que la barre de recherche passe en dessous */
    }
  
    .header-top .icon-profil {
      margin-left: auto;
    }
  }
  
  /* /////////////////////////////////////////////////////// */
  /* Fin Search Bar */
  /* /////////////////////////////////////////////////////// */