html {
  height: 100%;
  width: 100%;
  --separator: 2px solid var(--black-transparent-15);
  --hover: var(--white-transparent-10);
  --hover_reversed: var(--black-transparent-10);
  --overlay: var(--overlay_dark);
  --default_text_color: var(--white-87p);
  --secondary_text: var(--white-60p);
  --border: 1px solid var(--white-transparent-15);
  --border_hover: var(--white-transparent-30);
  --white_color: var(--white-87p);
  --price: var(--chillyred);
  --primary-bg: var(--primary-dark);
  --text-color-negative: var(--grey-900);
  --background: var(--dp00);
  --avatar_border: var(--dp01);
  --placeholder: var(--white-transparent-15);
  --error: var(--chillyred);
  --content_bg: var(--dp01);
  --helper_own_msg: #313c5f;
  --helper_msg: var(--dp00);
  --helper_msg_txt: var(--limed-spruce);
  --link_color: var(--link-dark);
  --content-box-shadow: 0px 1px 1px rgba(0, 0, 0, .05), 0px 2px 1px rgba(0, 0, 0, .05), 0px 1px 3px rgba(0, 0, 0, .05);
  --content-box-shadow_hover: 0px 2px 2px rgba(0, 0, 0, .05), 0px 3px 1px rgba(0, 0, 0, .05), 0px 1px 5px rgba(0, 0, 0, .05);
  --box-shadow_drop: 0px 8px 10px rgba(0, 0, 0, .07), 0px 3px 14px rgba(0, 0, 0, .05), 0px 5px 5px rgba(0, 0, 0, .08);
  --box-shadow_top: 0px -2px 8px rgba(0, 0, 0, .15);
  --box-shadow_top_avatar: 0px -2px 3px rgba(0, 0, 0, .1);
  --box-shadow_bottom: 0px 6px 6px rgba(0, 0, 0, .1);
  --box-shadow_helper: 0px 6px 10px rgba(0, 0, 0, .05);
  --box-shadow_conv: 0px 0px 4px 0px rgba(0, 0, 0, .2);
  --white: #fff;
  --primary-900: #206293;
  --primary-800: #287ab8;
  --primary-700: #5a9fd3;
  --primary-dark: #1b8fee;
  --primary-dark-overlay-hover: rgba(129, 212, 250, .04);
  --boston: #3c4f73;
  --link: #1779c4;
  --link-dark: #df0ac2;
  --overlay_light: rgba(0, 0, 0, .8);
  --overlay_dark: rgba(0, 0, 0, .8);
  --overlay_hover: rgba(0, 0, 0, .95);
  --full-transparent: transparent;
  --dp00: #141b33;
  --dp01: #20273d;
  --dp02: #252b41;
  --dp03: #262d43;
  --dp04: #293045;
  --dp06: #2e3449;
  --dp08: #31374c;
  --dp12: #353b50;
  --dp16: #373d51;
  --dp24: #3a4054;
  --black-transparent-05: rgba(0, 0, 0, .05);
  --black-transparent-10: rgba(0, 0, 0, .1);
  --black-transparent-15: rgba(255, 255, 255, 0.192);
  --black-transparent-30: rgba(0, 0, 0, .3);
  --black-transparent-45: rgba(0, 0, 0, .45);
  --black-transparent-60: rgba(0, 0, 0, .6);
  --black-transparent-75: rgba(0, 0, 0, .75);
  --white-transparent-05: hsla(0, 0%, 100%, .04);
  --white-transparent-10: hsla(0, 0%, 100%, .1);
  --white-transparent-15: hsla(0, 0%, 100%, .15);
  --white-transparent-30: hsla(0, 0%, 100%, .3);
  --white-transparent-45: hsla(0, 0%, 100%, .45);
  --grey-900: #111827;
  --grey-700: #515766;
  --grey-200: #b8babe;
  --grey-50: #f3f3f3;
  --white-87p: #e2e3e6;
  --white-60p: #a6a8b3;
  --white-40p: #737687;
  --red-800: #eb0000;
  --red-700: #ff2020;
  --chillyred: #e26464;
  --peppered: #c95151;
  --red-soldes: #ae0000;
  --like: #e07b94;
  --orange: #ff8f00;
  --orange-400: #ffca28;
  --casablanca: #f3ac40;
  --olivine: #8eaf6e;
  --carrot: #eb862b;
  --fiery: #aa5913;
  --darkorange: #6d3402;
  --deyork: #84c187;
  --tomthumb: #415f43;
  --asparagus: #6aa054;
  --rainee: #66ba6a;
  --forest: #368721;
  --parsley: #32831d;
  --carsal: #336a5f;
  --plantation: #265c52;
  --violet: #8b58b4;
  --mint: #61c2a2;
  --barley: #fff1cc;
  --salomie: #ffdc83;
  --bronze: #694d05;
  --twitter-blue: #1da1f2;
  --twitter-blue-dark: #1da1f2;
  --twitter-blue-hover: #1a95e2;
  --stock-blue: #52a9eb;
  --blizzard: #b4dbf1;
  --limed-spruce: #13415a
}

body {
  background: #292929;
}

header {
  z-index: 100;
  top: 0;
  width: 100%;
  position: fixed;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.logo {
  margin-right: 2%;
  margin-left: 2%;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.main-nav .navbar,
.main-nav .navbar .dropdown-menu {
  list-style: none;
  background: #1e1d1d;
  text-align: center;
}

.main-nav .navbar .nav-item {
  display: inline-block;
  position: relative;
}

.main-nav .navbar .nav-link,
.main-nav .navbar .dropdown-item {
  font-family: var(--font-fam);
  display: block;
  padding: 18px 60px;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

.main-nav .navbar .nav-item img {
  width: 10rem;
  height: 3rem;
  display: block;
  padding: 20px 25px;
  margin-right: 5vw;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.main-nav .navbar .nav-item .dropdown-menu {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

.main-nav .navbar .nav-link:hover,
.main-nav .navbar .dropdown-item:hover {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
}

.main-nav .navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.main-nav .navbar .colored {
  font-weight: bold;
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
}

.header-top {
  background: var(--color-dark);
  color: #FFF;
  text-align: center;
  padding: 1%;
}

.header-top .icon-profil {
  margin-right: 2%;
  margin-left: 3%;
  cursor: pointer;
}

.header-top .icon-panier {
  margin-right: 3%;
  cursor: pointer;
}

.header-top .double-icon {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 2%;
  position: sticky;
  left: 1000px;
}

#overlay,
#sideMenu,
#closeBtn {
  display: none;
}

@media (max-width: 1220px) {
  .main-nav .navbar {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1%;
  }

  #closeBtn {
    display: none
  }

  /* Menu latéral */
  #sideMenu {
    position: fixed;
    top: 0;
    left: -300px;
    /* Menu caché initialement */
    width: 300px;
    height: 100%;
    background: #1e1d1d;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-nav-side .navbar-side,
  .main-nav-side .navbar-side .dropdown-menu {
    list-style: none;
    background: #1e1d1d;
    text-align: center;
  }

  .main-nav-side .navbar-side .nav-item {
    position: relative;
  }

  .main-nav-side .navbar-side .nav-link,
  .main-nav-side .navbar-side .dropdown-item {
    font-family: var(--font-fam);
    display: block;
    padding: 18px 60px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
  }

  .main-nav-side .navbar-side .colored {
    font-weight: bold;
    background: var(--color-brand);
    background-clip: text;
    color: transparent;
  }

  .main-nav-side .navbar-side .nav-item img {
    width: 10rem;
    height: 3rem;
    display: block;
    padding: 20px 25px;
    margin-right: 5vw;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }

  .main-nav-side .navbar-side .nav-item .dropdown-menu {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
  }

  .main-nav-side .navbar-side .nav-link:hover,
  .main-nav-side .navbar-side .dropdown-item:hover {
    background: var(--color-brand);
    background-clip: text;
    color: transparent;
  }

  .main-nav-side .navbar-side .nav-item:hover .dropdown-menu {
    display: block;
  }

  #menuTitle {
    font-size: 2.3rem;
    font-weight: bold;
    color: #FFF;
    margin-top: 1rem;
  }

  /* Bouton de fermeture */
  #closeBtn {
    display: inline-block;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white-87p);
    position: absolute;
    top: -5px;
    right: 5px;
  }

  /* Overlay pour la transition */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
    display: none;
    /* Caché par défaut */
    transition: opacity var(--dur) ease-in-out;
  }

  .hidden {
    display: none;
  }

  #backBtn {
    position: absolute;
    top: 110px;
    /* Ajustez pour un alignement parfait */
    left: 20px;
    /* Ajustez pour un alignement parfait */
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
    background: none;
    border: none;
    z-index: 1000;
    /* Assurez-vous qu'il reste au-dessus des menus */
  }


}

@media (max-width: 500px) {
  .logo {
    margin-right: 1%;
    margin-left: 2%;
    width: 150px;
    height: auto;
  }

  .header-top .icon-profil {
    height: 35px;
    width: 35px;
    margin-right: 1%;
  }

  .header-top .icon-panier {
    height: 20px;
    width: 25px;
  }
}

:root {
  --rad: 3rem;
  --dur: .3s;
  --color-dark: #1A1C20;
  --color-light: #fff;
  --color-brand: linear-gradient(to left,
      #C3FEAD 16%,
      #ADFF9D 32%,
      #90FFA3 48%,
      #77FFB3 64%,
      #62FFCA 80%,
      #26FEFE 100%);
  --font-fam: 'Lato', sans-serif;
  --height: 3rem;
  --btn-width: 5rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* /////////////////////////////////////////////////////// */
/* Partie Search Bar */
/* /////////////////////////////////////////////////////// */

.search-form {
  position: relative;
  width: 40vw;
  background: var(--color-dark);
  border-radius: var(--rad);
  text-align: left;
}

.search-bar,
.search-button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.search-bar {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  display: block;
}

.button-panier {
  position: absolute;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
  display: inline-block;
}

.text-panier {
  font-weight: bold;
  color: #000000;
  font-size: 0.8vw;
  text-align: center;
}

@media (max-width: 900px) {
  .text-panier {
    font-size: 0.6rem;
  }
}


/* Style du conteneur principal */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #ddd;
}

/* Style pour le contenu défilant */
.marquee-content {
  display: inline-flex;
  animation: scroll-left 20s linear infinite;
}

/* Animation pour défiler vers la gauche */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Style des images */
.marquee-content img {
  width: 150px;
  /* Taille de l'image, ajustable */
  margin-right: 10px;
  /* Espacement entre les images */
  height: auto;
}


.search-bar:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));

  +button {
    display: block;
  }
}

.search-bar-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Réorganisation de la disposition en fonction de la taille d'écran */
@media (max-width: 900px) {
  .header-top {
    flex-wrap: wrap;
  }

  .search-form {
    display: block;
    /* Réaffiche la barre de recherche */
    width: 100%;
    /* Prend toute la largeur */
    margin: 15px;
    /* Ajoute un peu d'espace */
    order: 2;
    /* Assure que la barre de recherche passe en dessous */
  }

  .header-top .icon-profil {
    margin-left: auto;
  }
}


/* /////////////////////////////////////////////////////// */
/* Fin Search Bar */
/* /////////////////////////////////////////////////////// */


/* /////////////////////////////////////////////////////// */
/* Slider */
/* /////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
}

main {
  overflow: auto;
  margin-top: 200px;
  /* Correspond à la hauteur du header */
  margin-bottom: 100px;
  /* Correspond à la hauteur du footer */
}

@media (max-width: 1220px) {
  main {
    margin-top: 120px;
    /* Correspond à la hauteur du header */
    margin-bottom: 100px;
    /* Correspond à la hauteur du footer */
  }
}

@media (max-width: 900px) {
  main {
    margin-top: 180px;
    /* Correspond à la hauteur du header */
    margin-bottom: 100px;
    /* Correspond à la hauteur du footer */
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* /////////////////////////////////////////////////////// */
/* Fin Slider */
/* /////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////// */
/* Partie Footer */
/* /////////////////////////////////////////////////////// */

.footer-main {
  background: #1A1C20;
  color: #FFF;
  font-size: 12px;
  padding-bottom: 50px;
}

.footer-main__wrapper {
  margin: 0 auto;
  max-width: 1740px;
  padding: 15px 15px 90px;
}

.footer-main__links {
  display: grid;
  grid-template-columns: 1fr;
}

.footer-main__link {
  color: var(--white_color);
  line-height: 30px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.footer-main__link:hover {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.footer-main__separator {
  border-bottom: var(--separator);
  margin: 20px 0;
}

.footer-main__payements {
  max-width: 400px;
  width: 100%;
}

.footer-main__socials {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-main__social-icon {
  width: 40px;
}

.footer-main__social-icon--portrait {
  height: 40px;
  width: auto;
}

.footer-main__text {
  font-size: 13px;
  text-align: center;
}

.footer-main__text a {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
}

.footer-main__text a:hover {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.footer-main__last-products {
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.footer-main__last-products-link {
  color: var(--white_color);
  display: inline;
  line-height: 1.2rem;
  width: fit-content;
}

.footer-main__last-products-link:hover {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
}

@media screen and (min-width:768px) {
  .footer-main__last-products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:1024px) {
  .footer-main__links {
    grid-template-columns: 1fr 1fr;
  }

  .footer-main__last-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width:1366px) {
  .footer-main__wrapper {
    padding: 20px;
  }

  .footer-main__links {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }

  .footer-main__payements {
    width: 300px
  }

  .footer-main__last-products {
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}

.footer-cms-part {
  text-align: center
}

.footer-cms-part a {
  color: #FFF;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.footer-cms-part a:hover {
  background: var(--color-brand);
  background-clip: text;
  color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none
}

footer {
  bottom: 0;
  z-index: 100;
  width: 100%
}

/* /////////////////////////////////////////////////////// */
/* Fin  Footer */
/* /////////////////////////////////////////////////////// */